* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cards-border-color: #1f1f1f;
  --cards-bg-color: #101010;
  --bg-color: #0b0b0b;
  --brand-color: #97edaa;
}

body {
  color: white;
  background: var(--bg-color);
}

#container {
  width: 65vw;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid var(--cards-bg-color);
}

header span {
  color: var(--brand-color);
  font-family: "Fira Code";
  font-style: normal;
  font-size: 16px;
}

header #links {
  display: flex;
  gap: 20px;
}

header #links a {
  text-decoration: none;

  font-family: "Archivo";
  font-weight: 500;
  font-size: 16px;

  color: white;
}

header #links a:hover {
  color: var(--brand-color);
}

main {
  padding: 15px 0;
}

main #inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main #inicio #me {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main #inicio #me span {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

main #inicio #me h1 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;

  color: var(--brand-color);
}

main #inicio #me p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  margin: 20px 0 25px;
}

main #inicio button {
  background-color: var(--brand-color);
  width: fit-content;
  padding: 10px 50px;
  border-radius: 4px;

  font-family: "Archivo";
  font-weight: 500;
  font-size: 15px;

  cursor: pointer;
}

main #about {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 20px 0;
}

main #about #sobre {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 30px;

  color: var(--brand-color);
  text-align: center;
}

main #about > p {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  text-align: center;
}

main #about #nav-links {
  margin-top: 30px;

  display: flex;
  text-align: center;
  justify-content: space-around;
}

main #about .nav-link {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #about .nav-link .card {
  display: flex;
  align-items: center;
  border: 1px solid var(--cards-border-color);
  border-radius: 100%;
  padding: 12px;

  margin-bottom: 10px;
}

main #about .nav-link p {
  font-family: "Archivo";
  font-weight: 500;
  font-size: 16px;

  margin-bottom: 10px;
}

main #about .nav-link span {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 15px;
}
